body{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.back, a{
    margin-top: 5px;
    background-color: burlywood;
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: teal;
    border-radius: 5px;
}